lib/__pycache__/search_tweets.cpython-37.pyc
lib/__pycache__/main_dumb_lib.cpython-37.pyc
lib/__pycache__/screen_name_tweets.cpython-37.pyc
.vscode/settings.json
lib/__pycache__/search_tweets.cpython-37.pyc
lib/__pycache__/main_dumb_lib.cpython-37.pyc
lib/__pycache__/screen_name_tweets.cpython-37.pyc
*.pyc
datasets/training_sentiments.txt
datasets/polarity_list.csv
datasets/subjectivity_list.csv
